/*ШРИФТЫ*/

@font-face{
    font-family: "Alice-Regular";
    src: url(../fonts/Alice-Regular.ttf);
}

@font-face{
    font-family: "Merriweather-Regular";
    src: url(../fonts/Merriweather-Regular.ttf);
}

@font-face{
    font-family: "Merriweather-Bold";
    src: url(../fonts/Merriweather-Bold.ttf);
}

/*ОСНОВНЫе СТИЛИ*/

.mh-100vh{
    min-height: 100vh;
}

.section{
    padding: 140px 0px;
}

.section, .section .container{
    position: relative;
}

.btn.bordered {
    box-shadow: inset 0px 0px 0px 3px #fff;
}

.icon-shadow {
    box-shadow: 0px 0px 4px 1px #a3b849;
    border-radius: 50%;
    padding: 10px;
}


.yellow-gradient{
    background: #fcfce7;
    background: -moz-linear-gradient(top, #fcfce7 0%, #ffffff 50%, #ffffff 100%); 
    background: -webkit-linear-gradient(top, #fcfce7 0%,#ffffff 50%, #ffffff 100%); 
    background: linear-gradient(to bottom, #fcfce7 0%,#ffffff 50%, #ffffff 100%); 
}

.img-shadow {
    box-shadow: 0px 3px 6px 0px #b7b7b7;
}

.form-control {
    height: calc(2.36em + .75rem + 2px);
    box-shadow: inset 0px 0px 0px 3px #ACA9A9;
    border: none;
}

/*ОСНОВНОЙ ТЕКСТ НА САЙТЕ*/

h1, h2, h3, h4, h5, h6{
    font-family: "Alice-Regular";
}

p, span{
    font-family: "Merriweather-Regular";
}

.h1, h1 {
    font-size: 75px;
}

.section h1,
.section .h1{
    font-size: 50px;
}

.h2, h2 {
    font-size: 40px;
}

.text{
    font-size: 20px;
}

/*КАВЫЧКИ*/

.quotes:before{
    content:'«‎';
}
.quotes:after{
    content:'»‎';
}


/*КНОПКИ*/

.btn {
    font-family: "Merriweather-Bold";
    font-size: 20px;
    padding: 16px 41px;
    line-height: 1;
    border-radius: 5px;
    border: none;
}

.btn-light {
    background: transparent;
    color: #A3B849;
    box-shadow: inset 0px 0px 0px 3px #A3B849;
    border: none;
}

.btn-light:hover{
    color: #fff;
    background: #A3B849;
}

.btn-success{
    background: #A3B849;
    color: #fff;
}

.btn-success:hover{
    background: #b2c758;
}

/*НАВИГАЦИЯ*/

.navbar-nav .nav-link{
    font-family: "Merriweather-Regular";
}

.navbar-dark .navbar-nav .nav-link{
    line-height: 1.8;
    color: #fff;
}

.navbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

/*БАННЕР*/

.banner{
    position: relative;
}

.banner:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.food:after{
    background-image: url(../img/banner.jpg);
}

.canape:after{
    background-image: url(../img/banner2.png);
}

.feedback:after{
    background-image: url(../img/banner3.png);
}

.banner:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-size: cover;
}

.no-banner-shadow:before{
    display: none;
}

.banner p{
    font-size: 24px;
}

.banner span{
    font-size: 18px;
}

/*ПРОДУКТЫ*/

.products .container{
    background: url(../img/products1.jpg) no-repeat;
    background-position: 0px -36px;
    background-size: 50%;
}

.products .container:before{
    content: "";
    position: absolute;
    left: -200px;
    bottom: -180px;
    width: 556px;
    height: 535px;
    background: url(../img/products2.jpg);
}

.products .container:after{
    content: "";
    position: absolute;
    right: -103px;
    top: -11px;
    width: 249px;
    height: 249px;
    background: url(../img/products3.png);
    z-index: -1;
}

.products .item{
    position: relative;
    margin: 5px 0;
}

.products .item span{
    position: absolute;
    bottom: 0;
    left:0;
    width:100%;
    text-align: center;
    padding: 20px 0px;
    font-size: 18px;
    color: #000;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.99) 99%, rgba(255,255,255,1) 100%); 
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.99) 99%,rgba(255,255,255,1) 100%); 
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.99) 99%,rgba(255,255,255,1) 100%); 
}

/*ПОЧЕМУ МЫ*/

.text-bg{
    background: url(../img/text-bg.jpg);
}

#plateHolder h1, 
#plateHolder .icons{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);  
}

#plateHolder .icons img{
    position: absolute;
}

#plateHolder .icons img:nth-child(1){
    transform: translate(-132px, -221px);
    -webkit-transform: translate(-132px, -221px);
    width: 62px;
}

#plateHolder .icons img:nth-child(2){
    transform: translate(20px, -245px);
    -webkit-transform: translate(20px, -245px);
    width: 60px;
}

#plateHolder .icons img:nth-child(3){
    transform: translate(144px, -175px);
    -webkit-transform: translate(144px, -175px);
    width: 82px;
}

#plateHolder .icons img:nth-child(4){
    transform: translate(181px, 65px);
    -webkit-transform: translate(181px, 65px);
    width: 51px;
}

#plateHolder .icons img:nth-child(5){
    transform: translate(48px, 180px);
    -webkit-transform: translate(48px, 180px);
    width: 70px;
}

#plateHolder .icons img:nth-child(6){
    transform: translate(-144px, 155px);
    -webkit-transform: translate(-144px, 155px);
    width: 82px;
}

#plateHolder .icons img:nth-child(7){
    transform: translate(-254px, 35px);
    -webkit-transform: translate(-254px, 35px);
    width: 64px;
}

#plateHolder .icons img:nth-child(8){
    transform: translate(-226px, -129px);
    -webkit-transform: translate(-226px, -129px);
    width: 53px;
}

#plateHolder h1{
    text-align: center;
    width: 590px;
    max-width: 100%;
    font-size: 50px;
}

/*ПРЕДЛОЖЕНИЕ*/

.card-frame{
    border: 3px solid #A3B849;
    padding: 40px;
}

.abs-img-1 {
    right: 80px;
    top: -210px;
    width: 630px;
    height: 450px;
}

.abs-img-2 {
    top: 138px;
    left: -120px;
}

.abs-img-3 {
    left: 380px;
    top: 200px;
    z-index: 1;
}

.abs-img-4 {
    top: -48px;
}

@media (min-width: 1640px){
    .container{
        max-width: 1640px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.4rem;
        padding-left: 1.4rem;
    }

    .btn,
    .navbar-expand-lg .navbar-nav .nav-link{
        font-size: 20px;
    }

    .h1, h1 {
        font-size: 75px;
    }

    .banner p {
        font-size: 24px;
    }

    .banner span{
        font-size: 18px;
    }

    a.navbar-brand img {
        width: 111px !important;
    }
}

@media (max-width: 1200px){
    #whyUs .row, #whyUs [class*="col"] {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }
}

@media (min-width: 1200px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .section.products {
        overflow: hidden;
    }

    .position-absolute-lg{
        position: absolute !important;
    }

    #plateHolder{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }

    .card-frame{
        max-width: 70%;
    }
}


@media (min-width: 650px){

    .banner.food .float-left,
    .banner.food .float-right{
        width: auto !important;
    }

    .banner-contacts .float-left, .banner-contacts .float-right {
        margin-bottom: 3rem!important;
    }
}

@media (min-width: 300px){
    .banner.food .float-left,
    .banner.food .float-right{
        width: 100%;
        display:block;
    }

    .navbar-expand-lg .navbar-nav .nav-link, 
    .btn, .banner p,
    .banner span{
        font-size: 15px;
    }

    .h1, h1 {
        font-size: 40px;
    }

    a.navbar-brand img {
        width: 80px !important;
    }

    .banner-contacts .float-left, 
    .banner-contacts .float-right {
        margin-bottom: 8px !important;
    }

    .section.products {
        overflow: hidden;
    }

    #plateHolder{
        position: relative;
        display: inline-block;
        max-width: 100%;
    }

    #plateHolder img {
        width: 100%;
    }
}